/* Profile Card Style Start*/

.profile-card {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #ecf0f3;
   .wrapper {
   padding: 30px;
   width: 350px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: #ecf0f3;
   border-radius: 10px;
   box-shadow: -3px -3px 7px #fff,
      3px 3px 5px #ceced1;

   .img-area {
      height: 150px;
      width: 150px;
      border-radius: 10px;
      box-shadow: -3px -3px 7px #fff,
         3px 3px 5px #ceced1;
       }
   }
}
/* Profile Card Style End*/ 